<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>qrTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B678A0B2106E4D900AEA5F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B678A1F2106E4DB00AEA5F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B678A2A2106E4DB00AEA5F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
